@{
    ViewData["Title"] = "Adicionar contato";
}

<div class="text-center">
   
    <h1 class="display-4 text-center">Cadastrar contato</h1>

</div>

<form>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do contato">
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" placeholder="Digite o email do contato">
    </div>

    <div class="form-group">
        <label for="telefone">Numero de telefone</label>
        <input type="text" class="form-control" placeholder="Digite o numero de telefone do contato">
    </div>
<br />
    <button type="submit" class="btn btn-outline-primary">Adicionar</button>
    <a class="btn btn-outline-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>